* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes Hieuung1 {
  from {
    background: green;
  }
  to {
    background: purple;
  }
}
@keyframes Hieuung2 {
  0% {
    position: absolute;
    left: 0;
    transform: translate(0);
  }
  15% {
    position: absolute;
    left: 15%;
    transform: translate(-50%);
  }
  25% {
    position: absolute;
    left: 25%;
    transform: translate(-50%);
  }
  35% {
    position: absolute;
    left: 35%;
    transform: translate(-50%);
  }
  50% {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  65% {
    position: absolute;
    left: 65%;
    transform: translate(-50%);
  }
  75% {
    position: absolute;
    left: 75%;
    transform: translate(-50%);
  }
  85% {
    position: absolute;
    left: 85%;
    transform: translate(-50%);
  }
  100%{
    position: absolute;
    left: 100%;
    transform: translate(-100%);

  }
}
.container {
  max-width: 1170px;
  height: 500px;
  border: 1px solid red;
  margin: 0 auto;
  position: relative;
}
.block {
  width: 400px;
  height: 400px;
  margin: 30px auto;
  background: red;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation-name: Hieuung1;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-duration: reverse; */
  /* animation: Hieuung1 2s linear infinite; */
}

.item {
  background-color: green;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  /* animation: Hieuung2 1s linear infinite; */
}
