* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1127px;
  margin: 0 auto;
}
.gallery-box {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* grid-template-rows: 1fr 2fr; */
  grid-gap: 5px;
}
.gallery-box .item {
  background-color: green;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 10px 0;
  border: 1px solid rgb(0, 30, 128);
}
.gallery-box .item:nth-child(1) {
  /* width: 200px; */
  grid-column: 1/4;
  grid-row: 1/3;
}
img {
  max-width: 100%;
  height: auto;
}
.banner-box {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}
.banner-box .item:nth-child(1) {
  grid-row: 1/3;
}
.banner-box .item .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}
